.product-card {
  max-width: 200px;
  height: 300px;
  margin: 16px;
}

mat-card-actions {
  margin-top: 20px;
}

mat-card-content {
  text-align: center;
  margin-bottom: 0;
}

img.mat-card-image {
  margin-bottom: 0;
}

button {
  padding: 0;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.icons mat-icon {
  font-size: 40px;
  cursor: pointer;
}

.icons mat-icon:hover {
  font-size: 45px;
}
