.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/*Head components*/
span {
  font-size: 30px;
}
.header-cont-top {
  width: 95%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.contact {
  display: none;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.options .material-icons {
  margin-right: 5px;
}

.header-cont-bottom {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.button-menu {
  display: none;
}

.icono {
  font-size: 40px;
}
