:host {
  display: flex;
  justify-content: center;
  background-color: #fbf1dc;
}
img {
  margin: 0;
  width: 100px;
}

.product-card {
  width: 150px;
  margin: 20px;
  background-color: #fbf1dc;
  border: none;
  text-align: center;
}

mat-card-content {
  text-align: center;
}

.form-field {
  width: 60px;
}

mat-card-actions {
  text-align: center;
}

mat-icon {
  margin-right: 5px;
}
