<h1 class="mat-title-h1" i18n>Choose a category</h1>
<mat-accordion>
  <mat-expansion-panel
    (closed)="panelOpenState = false"
    (opened)="panelOpenState = true"
    *ngFor="let productCategory of productsSubject | async"
  >
    <mat-expansion-panel-header>
      {{ productCategory | titlecase }}
    </mat-expansion-panel-header>
    <div class="products">
      <app-select-product-item
        *ngFor="let product of groupedProducts[productCategory]"
        [product]="product"
      ></app-select-product-item>
    </div>
  </mat-expansion-panel>
</mat-accordion>
