app-select-products {
  display: block;
  overflow: auto;
  height: calc(100vh - 64px);
  padding: 32px;
  box-sizing: border-box;

  .mat-card {
    margin: 32px;
  }

  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 600px) {
    .mat-card {
      max-width: 300px;
    }
  }
}
