<section class="provider">
  <div class="information-content">
    <p i18n class="category">KZero farms and sellers</p>
    <p i18n class="short-description mat-display-1">From the farm to your table.</p>
    <p i18n class="instructions">
      Select a farm from the map to start the purchase process. By selecting a farm you get access to all of their
      available products.
    </p>
  </div>
  <app-product-map></app-product-map>
</section>
<section class="basket">
  <div class="information-content">
    <p i18n class="category">KZero basket types</p>
    <p i18n class="short-description mat-display-1">Our organic baskets</p>
    <p i18n class="instructions">
      Available baskets allow to customize your order. You can either customize the products or let the farms surprise
      you with a fine selection.
    </p>
  </div>
  <app-product-list></app-product-list>
</section>
