:host {
  display: flex;
  flex-direction: column;

  app-product-map {
    height: calc(100vh - 2 * 56px);
  }

  @media screen and (min-width: 600px) {
    app-product-map {
      width: 100vw;
      height: 500px;
    }
  }
}
