:host {
  display: flex;
  flex-direction: column;

  app-product-map {
    height: calc(100vh - 2 * 56px);
  }

  @media screen and (min-width: 600px) {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    height: calc(100vh - 64px);

    app-product-map {
      width: 100vw;
      height: calc(100vh - 64px);
    }

    app-product-list {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  @media screen and (min-width: 960px) {
    app-product-map {
      width: 50%;
    }
  }
}
