:host {
  display: flex;
  flex-direction: column;

  app-product-map {
    width: 100%;
    min-width: 1px;
    min-height: 1px;
    height: calc(100vh - 2 * 56px);
  }

  @media screen and (min-width: 600px) {
    app-product-map {
      height: calc(100vh - 2 * 64px);
    }
  }
}
