<mat-card class="example-card">
  <mat-card-title>
    L´hort de la Lourdes
  </mat-card-title>
  <img class="img-producto" mat-card-image src="../../../assets/img/cesta.png" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <h3>
      Cesta ecológica
    </h3>
    <span class="material-icons">
      star
    </span>
    <span class="material-icons">
      star
    </span>
    <span class="material-icons">
      star
    </span>
    <span class="material-icons">
      star
    </span>
    <span class="material-icons">
      star
    </span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>Qui sóc</button>
    <button mat-raised-button>Què tinc</button>
  </mat-card-actions>
</mat-card>
