.example-card {
  width: 200px;
  text-align: center;
  margin: 10px;
  height: 450px;
}

.example-header-image {
  background-size: cover;
}

.img-producto {
  margin-top: 0;
  margin-bottom: 0;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-content {
  text-align: center;
}
