<mat-card class="example-card">
  <mat-card-title>
    {{ seller.name }}
  </mat-card-title>

  <img class="img-producto" mat-card-image [src]="seller.img" [alt]="seller.name" style="max-width: 1500px;" />

  <mat-card-content>
    <h3>
      {{ seller.productName }}
    </h3>
    <span class="material-icons">
      star
    </span>
    <span class="material-icons">
      star
    </span>
    <span class="material-icons">
      star
    </span>
    <span class="material-icons">
      star
    </span>
    <span class="material-icons">
      star
    </span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>Qui sóc</button>
    <button mat-raised-button>Què tinc</button>
  </mat-card-actions>
</mat-card>
